
<%= render 'shared/script_prefecture_change' %>

<% @title = '店舗情報編集' %>
<%= render 'shared/page_title', f1: @title, f2: false, f3: false %>

<div>
  <h1><%= @title %></h1>
  <%= render 'shared/errors', f: @shop_show %>
  <div class="form-horizontal" role="form">
    <%= form_for @shop_show, url: shop_recruit_path(@shop_show.id) do |f| %>
      <%= render 'form_shop_show', f: f %>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
          <%= f.submit '更新', :class => "btn btn-outline-primary" %>
          <%= link_to 'キャンセル', shop_recruit_path(params[:id]) %>
        </div>
      </div>
    <% end %>

    <p>＜注意＞</p>
    <p>※画像データの更新には時間がかかる場合がございます。作成を一度だけ押してしばらくそのままお待ち下さい。</p>
    <p>※通信環境によっては数分〜10分程度かかる場合もございます。</p>

  </div>
</div>