
<%= render 'shared/script_prefecture_change' %>

<% @title = '求人情報作成' %>
<%= render 'shared/page_title', f1: @title, f2: false, f3: false %>

<div>
  <h1><%= @title %></h1>
  <%= render 'shared/errors', f: @shop_show %>
  <div class="form-horizontal" role="form">
    <%= form_for @shop_show, {url: :shop_recruit_index } do |f| %>

      <%= render 'form_shop_show', f: f %>

      <div class="form-group">
        <div class="text-center">
          <%= f.submit '作成', :class => "btn btn-outline-primary" %>
          <%= link_to 'キャンセル', shop_recruit_index_path %>
        </div>
      </div>
    <% end %>

    <p>＜注意＞</p>
    <p>※初回作成時は画像データのアップロードに時間がかかります。作成を一度だけ押してしばらくそのままお待ち下さい。</p>
    <p>※通信環境によっては数分〜10分程度かかる場合もございます。</p>

  </div>
</div>