<% @title = 'ログイン' %>
<%= render 'shared/page_title', f1: @title, f2: false, f3: false %>



<div class="container">

  <!-- Starts contact form 1 -->
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="homeContactContent">

        <%= form_for @form, url: :girl_session do |f| %>
          <div class="form-group">
            <%= f.label :email, "メールアドレス", {:class => "control-label"} %>
            <%= f.text_field :email, placeholder: "hanako@email.com", :class => "form-control border-color-1" %>
          </div>
          <div class="form-group">
            <%= f.label :password, "パスワード", {:class => "control-label"} %>
            <%= f.password_field :password, placeholder: "パスワードを入力", :class => "form-control border-color-2" %>
          </div>
          <div class="form-group">
              <%= f.submit 'ログイン', :class => "btn btn-outline-primary" %>
          </div>
          <div class="form-group">
            <div class="text-center">
              <%= link_to '新規アカウント登録', :new_girl_account %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

