<% @title = 'ログイン' %>
<%= render 'shared/page_title', f1: @title, f2: false, f3: false %>



<div class="container">

  <!-- Starts contact form 1 -->
    <div class="col-sm-6 col-xs-12">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <div class="form-group">
              <%= f.label :email, "メールアドレス", {:class => "control-label"} %>
              <%= f.email_field :email, placeholder: "hanako@email.com", :class => "form-control border-color-1" %>
            </div>
          </div>


          <div class="field">
            <div class="form-group">
              <%= f.label :password, "パスワード", {:class => "control-label"} %>
              <%= f.password_field :password, placeholder: "パスワードを入力", :class => "form-control border-color-2" %>
            </div>

          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, 'しばらくログインしたままにする' %>
              </div>
            </div>
          <% end %>


          <div class="form-group text-center">
            <%= f.submit 'ログイン', :class => "btn btn-outline-primary" %>
          </div>


        <% end %>

        <%= render "girl/shared/links" %>

      </div>
    </div>


