<div class="form-group">
  項目は全て必須入力です。
</div>
<div class="form-group">
  <%= f.label :group_number, 'グループ店舗数', {:class => "col-sm-3 control-label"} %>
  <div class="col-sm-7">
    <%= f.text_field :group_number, {:class => "form-control"} %>
  </div>
</div>
<div class="form-group">
  <%= f.label :shop_name, '代表会社名（代表店舗名でも可）', {:class => "col-sm-3 control-label"} %>

  <div class="col-sm-7">
    <%= f.text_field :shop_name, {:class => "form-control"} %>
  </div>
</div>
<div class="form-group">
  <%= f.label :url, '代表会社サイトURL（代表店舗でも可）' , {:class => "col-sm-3 control-label"} %>

  <div class="col-sm-7">
    <%= f.text_field :url, {:class => "form-control"} %>
  </div>
</div>

<div class="form-group">
  <%= f.label :admin_name, '求人管理者氏名（フルネーム）', {:class => "col-sm-3 control-label"} %>
  <div class="col-sm-7">
    <%= f.text_field :admin_name, {:class => "form-control"} %>
  </div>
</div>
<div class="form-group">
  <%= f.label :admin_name_sei, 'フリガナ（姓）', {:class => "col-sm-3 control-label"} %>

  <div class="col-sm-7">
    <%= f.text_field :admin_name_sei, {:class => "form-control"} %>
  </div>
</div>
<div class="form-group">
  <%= f.label :admin_name_mei, 'フリガナ（名）', {:class => "col-sm-3 control-label"} %>
  <div class="col-sm-7">
    <%= f.text_field :admin_name_mei, {:class => "form-control"} %>
  </div>
</div>
<div class="form-group">
  <%= f.label :admin_email,'求人管理者メールアドレス',  {:class => "col-sm-3 control-label"} %>

  <div class="col-sm-7">
    <%= f.text_field :admin_email, {:class => "form-control"} %>
  </div>
</div>

<% unless current_shop %>
  <div class="form-group">
    <%= f.label :admin_email_confirmation, '求人管理者メールアドレス再確認', {:class => "col-sm-3 control-label"} %>
    <div class="col-sm-7">
      <%= f.text_field :admin_email_confirmation, :class => "form-control" %>
    </div>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :admin_tel, '求人管理者電話番号', {:class => "col-sm-3 control-label"} %>

  <div class="col-sm-7">
    <%= f.text_field :admin_tel, {:class => "form-control"} %>
  </div>
</div>
<div class="form-group">
  <%= f.label :billing_company, '料金等請求先会社名', {:class => "col-sm-3 control-label"} %>

  <div class="col-sm-7">
    <%= f.text_field :billing_company, {:class => "form-control"} %>
  </div>
</div>
<div class="form-group">
  <%= f.label :manager_name, '貴社代表者氏名', {:class => "col-sm-3 control-label"} %>
  <div class="col-sm-7">
    <%= f.text_field :manager_name, {:class => "form-control"} %>
  </div>
</div>

<div class="form-group">
  <%= f.label :manager_name_sei, 'フリガナ（姓）', {:class => "col-sm-3 control-label"} %>

  <div class="col-sm-7">
    <%= f.text_field :manager_name_sei, {:class => "form-control"} %>
  </div>
</div>
<div class="form-group">
  <%= f.label :manager_name_mei, 'フリガナ（名）', {:class => "col-sm-3 control-label"} %>
  <div class="col-sm-7">
    <%= f.text_field :manager_name_mei, {:class => "form-control"} %>
  </div>
</div>

<div class="form-group">
  <%= f.label :billing_email, '料金等請求先メールアドレス', {:class => "col-sm-3 control-label"} %>
  <div class="col-sm-7">
    <%= f.text_field :billing_email, {:class => "form-control"} %>
  </div>
</div>
<% unless current_shop %>
  <div class="form-group">
    <%= f.label :billing_email_confirmation, '料金等請求先メールアドレス再確認', {:class => "col-sm-3 control-label"} %>
    <div class="col-sm-7">
      <%= f.text_field :billing_email_confirmation, :class => "form-control" %>
    </div>
  </div>
<% end %>
<div class="form-group">
  <%= f.label :billing_tel, '料金等請求先電話番号', {:class => "col-sm-3 control-label"} %>

  <div class="col-sm-7">
    <%= f.text_field :billing_tel, {:class => "form-control"} %>
  </div>
</div>
<div class="form-group">
  貴社住所入力欄
  <%= f.label :postal_first, '郵便番号', {:class => "col-sm-3 control-label"} %>

  <div class="col-sm-7 form-inline">
    <%= f.text_field :postal_first, {:class => "form-control"} %>-
    <%= f.text_field :postal_last, {:class => "form-control"} %>
  </div>
</div>
<div class="form-group">
  <%= f.label :prefecture, '都道府県', {:class => "col-sm-3 control-label"} %>

  <div class="col-sm-7">
    <%= f.text_field :prefecture, {:class => "form-control"} %>
  </div>
</div>
<div class="form-group">
  <%= f.label :city, '市区町村', {:class => "col-sm-3 control-label"} %>

  <div class="col-sm-7">
    <%= f.text_field :city, {:class => "form-control"} %>
  </div>
</div>
<div class="form-group">
  <%= f.label :house_number, '番地・建物名', {:class => "col-sm-3 control-label"} %>

  <div class="col-sm-7">
    <%= f.text_field :house_number, {:class => "form-control"} %>
  </div>
</div>
