<
<table class="table col-sm-8">
  <tr>
    <td>グループ店舗数</td>
    <td><%= f.group_number %></td>
  </tr>

  <tr>
    <td>代表会社名</td>
    <td><%= f.shop_name %></td>
  </tr>

  <tr>
    <td>サイトURL</td>
    <td><%= f.url %></td>
  </tr>

  <tr>
    <td>求人管理者氏名（フルネーム）</td>
    <td><%= f.admin_name %></td>
  </tr>

  <tr>
    <td>フリガナ（姓）</td>
    <td><%= f.admin_name_sei %></td>
  </tr>
  <tr>
    <td>フリガナ（名）</td>
    <td><%= f.admin_name_mei %></td>
  </tr>
  <tr>
    <td>求人管理者メールアドレス</td>
    <td><%= f.admin_email %></td>
  </tr>
  <tr>
    <td>求人管理者電話番号</td>
    <td><%= f.admin_tel %></td>
  </tr>
  <tr>
    <td>料金等請求先会社名</td>
    <td><%= f.billing_company %></td>
  </tr>
  <tr>
    <td>貴社代表者氏名</td>
    <td><%= f.manager_name %></td>
  </tr>
  <tr>
    <td>フリガナ（姓）</td>
    <td><%= f.manager_name_mei %></td>
  </tr>
  <tr>
    <td>請求先メールアドレス</td>
    <td><%= f.billing_email %></td>
  </tr>
  <tr>
    <td>請求先電話番号</td>
    <td><%= f.billing_tel %></td>
  </tr>
  <tr>
    <td>郵便番号</td>
    <td><%= f.postal_first %> - <%= f.postal_last %></td>
  </tr>
  <tr>
    <td>都道府県</td>
    <td><%= f.prefecture %></td>
  </tr>
  <tr>
    <td>市町村</td>
    <td><%= f.city %></td>
  </tr>
  <tr>
    <td>番地その他</td>
    <td><%= f.house_number %></td>
  </tr>



</table>