<% @title = '新規登録申請' %>

<div>
  <h1><%= @title %></h1>
  <%= render 'shared/errors', f: @shop %>
  <div class="form-horizontal" role="form">
    <%= form_for @shop, url: :shop_account do |f| %>
      <%= render 'form_shop_info', f: f %>

      <div class="form-group">
        <%= f.label :password, 'パスワード', {:class => "col-sm-3 control-label"} %>
        <div class="col-sm-7">
          <%= f.password_field :password, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード再確認', {:class => "col-sm-3 control-label"} %>
        <div class="col-sm-7">
          <%= f.password_field :password_confirmation, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
          <%= f.submit '登録申請', :class => "btn btn-default" %>
          <%= link_to 'キャンセル', :girl_root %>
        </div>
      </div>
    <% end %>
  </div>
</div>