<% @title = '職員の編集' %>

<div>
  <h1><%= @title %></h1>
  <%= render 'shared/errors', f: @shop %>
  <div class="form-horizontal" role="form">
    <%= form_for @shop, url: :admin_shop do |f| %>
      <%= render 'form_shop_info', f: f %>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
          <%= f.submit '更新', :class => "btn btn-outline-primary" %>
          <%= link_to 'キャンセル', :admin_shops %>
        </div>
      </div>
    <% end %>
  </div>
</div>