<div class="form-group">
  <%= f.label :application_amount, "申請金額", {:class => "control-label"} %>
  <%= f.text_field :application_amount, placeholder: "5000", :class => "form-control border-color-1" %>
</div>

<div class="form-group">
  <div class="control-label">
    <%= f.label :method, '招待ポイント受け取り方法' %>
  </div>
  <%= f.select :method, ['', '銀行振込', 'アマゾンギフトカード', 'iTunesカード'] %>
</div>

<div class="form-group" id="postal_code" style="display: none">
  <div class="control-label">
    <%= f.label :postal_first, '郵便番号' %>
  </div>
  <div class="form-inline">
    <%= f.text_field :postal_first, {:class => "form-control border-color-1"} %>-
    <%= f.text_field :postal_last, {:class => "form-control border-color-1"} %>
  </div>
</div>

<div class="form-group" id="prefecture" style="display: none">
  <div class="col-sm-3 control-label">
    <%= f.label :prefecture, '都道府県名' %>
  </div>
  <%= f.text_field :prefecture, {:class => "form-control border-color-2"} %>
</div>

<div class="form-group" id="city" style="display: none">
  <div class="control-label">
    <%= f.label :city, '市町村' %>
  </div>
  <%= f.text_field :city, {:class => "form-control border-color-3"} %>
</div>

<div class="form-group" id="house_number" style="display: none">
  <div class="control-label">
    <%= f.label :house_number, '番地その他' %>
  </div>
  <%= f.text_field :house_number, {:class => "form-control border-color-4"} %>
</div>

<div class="form-group" id="bank_name" style="display: none">
  <div class="control-label">
    <%= f.label :bank_name, '振込先銀行名' %>
  </div>
  <%= f.text_field :bank_name, {:class => "form-control border-color-5"} %>
</div>

<div class="form-group" id="bank_branch_name" style="display: none">
  <div class="control-label">
    <%= f.label :bank_branch_name, '銀行支店名' %>
  </div>
  <%= f.text_field :bank_branch_name, {:class => "form-control border-color-6"} %>
</div>

<div class="form-group" id="bank_type" style="display: none">
  <div class="control-label">
    <%= f.label :bank_type, '口座種別' %>
  </div>
  <%= f.select :bank_type, ['普通', '当座'] %>
</div>

<div class="form-group" id="bank_number" style="display: none">
  <div class="control-label">
    <%= f.label :bank_number, '口座番号' %>
  </div>
  <%= f.text_field :bank_number, {:class => "form-control border-color-1"} %>
</div>

<div class="form-group">
  <%= f.label :name, "氏名（フルネーム）", {:class => "control-label"} %>
  <%= f.text_field :name, placeholder: "氏名（フルネーム）", :class => "form-control border-color-2" %>
</div>

<div class="form-group">
  <%= f.label :name_sei_kana, "フリガナ（姓）", {:class => "control-label"} %>
  <%= f.text_field :name_sei_kana, placeholder: "フリガナ（姓）", :class => "form-control border-color-3" %>
</div>
<div class="form-group">
  <%= f.label :name_mei_kana, "フリガナ（名）", {:class => "control-label"} %>
  <%= f.text_field :name_mei_kana, placeholder: "フリガナ（名）", :class => "form-control border-color-4" %>
</div>

<div class="form-group">
  <%= f.label :email, "メールアドレス", {:class => "control-label"} %>
  <%= f.text_field :email, placeholder: "メールアドレス", :class => "form-control border-color-5" %>
</div>

<div class="form-group">
  <%= f.label :tel, "電話番号", {:class => "control-label"} %>
  <%= f.text_field :tel, placeholder: "電話番号", :class => "form-control border-color-6" %>
</div>


<div class="form-group">
  <div class="control-label">
    <%= f.label :policy, ("#{link_to '利用規約', girl_policy_path }に同意します").html_safe %>
  </div>
  <div class="checkbox-inline">
    <%= f.check_box :policy %><label>同意する</label>
  </div>
</div>


<%= f.hidden_field :girl_id, :value => @girl.id %>

