<%= render 'js_invitation' %>

<% @title = '招待ポイント換金申請' %>

<%= render 'girl/shared/page_title', f1: @title, f2: false, f3: false %>
<%= render 'shared/errors', f: @invitation %>

<div class="container">

  <div class="sectionTitle text-center">
    <h2>
      <span class="shape shape-left bg-color-4"></span>
      <span>現在の招待ポイント</span>
      <span class="shape shape-right bg-color-4"></span>
      <span><%= @girl.invitation_point %>ポイント</span>
    </h2>
  </div>

<div class="form-group">
  項目は全て必須入力です。
</div>

<div class="form-horizontal col-sm-12" role="form">
  <%= form_for @invitation, url: :girl_account_invitations do |f| %>

    <%= render 'form_invitation', f: f %>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <% if @girl.invitation_point>=5000 %>
        <%= f.submit '換金申請', :class => "btn btn-outline-primary" %>
        <%= link_to 'キャンセル', :girl_account %>
          <% else %>
          <%= f.submit '換金申請', {:class => "btn btn-outline-primary", :disabled => "disabled"} %>
          <% end %>
      </div>
    </div>
  <% end %>
</div>


