<%= render 'js_congratulation' %>

<% @title = 'お祝い金申請フォーム' %>

<%= render 'shared/page_title', f1: @title, f2: false, f3: false %>

<div class="container">

  <%= render 'shared/errors', f: @congratulation %>

  <div class="sectionTitle text-center">
    <h2>
      <span class="shape shape-left bg-color-4"></span>
      <span>採用されたら必ずもらえるお祝い金</span>
      <span class="shape shape-right bg-color-4"></span>
      <span><%= @apply.congratulation_money.to_s(:delimited) %>円</span>
    </h2>
  </div>

  <%= form_for @congratulation, url: :girl_apply_congratulations do |f| %>
    <%= render 'form_congratulation', f: f %>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <%= f.submit 'お祝い金申請', :class => "btn btn-outline-primary" %>
        <%= link_to 'キャンセル', :girl_applies %>
      </div>
    </div>
  <% end %>
</div>


