<% @title = 'ダッシュボード' %>
<h1><%= @title %></h1>

<div class='list-group'>
  <%= link_to '店舗管理', :admin_shops, {:class => "list-group-item col-sm-2"} %>
  <%= link_to '料金管理', :admin_fee, {:class => "list-group-item col-sm-2"} %>
  <%= link_to '求人管理', :admin_shop_shows, {:class => "list-group-item col-sm-2"} %>
  <%= link_to '女子管理', :admin_girls, {:class => "list-group-item col-sm-2"} %>
  <%= link_to '採用管理/お祝い金申請管理', :admin_applies, {:class => "list-group-item col-sm-2"} %>
  <%= link_to 'ポイント換金管理', :admin_invitations, {:class => "list-group-item col-sm-2"} %>
  <%= link_to 'お問い合わせ', :admin_contacts, {:class => "list-group-item col-sm-2"} %>

</div>
