<% @title = 'よくある質問一覧' %>

<%= render 'girl/shared/page_title', f1: @title, f2: false, f3: false %>

<div class="container">

  <h3 class="color-1">会員登録について</h3>
  <% @question_category_1.each do |f| %>
    ・<%= link_to f.question, girl_question_path(f.id) %>
    <br>
  <% end %>

  <h3 class="color-2">応募について</h3>
  <% @question_category_2.each do |f| %>
    ・<%= link_to f.question, girl_question_path(f.id) %>
    <br>
  <% end %>

  <h3 class="color-2">求人広告について</h3>
  <% @question_category_3.each do |f| %>
    ・<%= link_to f.question, girl_question_path(f.id) %>
    <br>
  <% end %>

  <h3 class="color-4">女子高生バイトについて</h3>
  <% @question_category_4.each do |f| %>
    ・<%= link_to f.question, girl_question_path(f.id) %>
    <br>
  <% end %>

  <h3 class="color-5">勤務について</h3>
  <% @question_category_5.each do |f| %>
    ・<%= link_to f.question, girl_question_path(f.id) %>
    <br>
  <% end %>

  <h3 class="color-6">選考・採用について</h3>
  <% @question_category_6.each do |f| %>
    ・<%= link_to f.question, girl_question_path(f.id) %>
    <br>
  <% end %>

  <h3 class="color-1">採用お祝い金について</h3>
  <% @question_category_7.each do |f| %>
    ・<%= link_to f.question, girl_question_path(f.id) %>
    <br>
  <% end %>
  <br>
  <br>

  <h5>もしこれらのＱ＆Ａでも分からない点がある場合には、
    <%= link_to 'お問い合わせフォーム', new_girl_contact_path %>
    から質問して下さい。
  </h5>
</div>