<div class="col-sm-7">
  <div class="checkbox-inline">
    <%= ff.check_box :daily %>
    <%= ff.label :daily, '日払い可' %>
  </div>
  <div class="checkbox-inline">
    <%= ff.check_box :guarantee %>
    <%= ff.label :guarantee, '給与保証' %>
  </div>
  <div class="checkbox-inline">
    <%= ff.check_box :carfare %>
    <%= ff.label :carfare, '交通費支給' %>
  </div>
  <div class="checkbox-inline">
    <%= ff.check_box :beginner %>
    <%= ff.label :beginner, '初心者歓迎' %>
  </div>
  <div class="checkbox-inline">
    <%= ff.check_box :experience %>
    <%= ff.label :experience, '体験入店可' %>
  </div>
  <div class="checkbox-inline">
    <%= ff.check_box :menstruation %>
    <%= ff.label :menstruation, '生理休暇' %>
  </div>
  <div class="checkbox-inline">
    <%= ff.check_box :dormitory %>
    <%= ff.label :dormitory, '寮完備' %>
  </div>
  <div class="checkbox-inline">
    <%= ff.check_box :room %>
    <%= ff.label :room, '個室待機' %>
  </div>
  <div class="checkbox-inline">
    <%= ff.check_box :nursery %>
    <%= ff.label :nursery, '託児所' %>
  </div>

  <div class="checkbox-inline">
    <%= ff.check_box :pickup %>
    <%= ff.label :pickup, '送迎' %>
  </div>
  <div class="checkbox-inline">
    <%= ff.check_box :alibi %>
    <%= ff.label :alibi, 'アリバイ対策' %>
  </div>
  <div class="checkbox-inline">
    <%= ff.check_box :home %>
    <%= ff.label :home, '在宅勤務可' %>
  </div>
</div>