<section class="mainContent full-width clearfix courseSingleSection">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 block pull-right">
        <div class="thumbnail thumbnailContent alt">
          <%= image_tag(f.main_image.url, :alt => "image", :class => "img-responsive") %>
          <div class="sticker bg-color-6"><br>お祝い金<br><%= f.congratulation_money.to_s(:delimited) %>円</div>
          <div class="caption border-color-6">
            <h3 class="color-1"><%= f.shop_name %></h3>
            <h4><%= f.title %></h4>
            <h5><%= f.summary %></h5>
            <h6><%= f.job_content %></h6>
          </div>
        </div>

      </div>


      <div class="col-xs-12 pull-left">
        <div class="rightSidebar">
          <div class="panel panel-default">
            <div class="panel-heading bg-color-1 border-color-1">
              <h3 class="panel-title"><font color="black">お店の情報</font></h3>
            </div>
            <div class="panel-body">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left iconContent bg-color-2">
                    <i class="fa fa-map" aria-hidden="true"></i>
                  </div>
                  <div class="media-body iconContent">
                    <h4 class="media-heading color-2">場所</h4>
                    <p>エリア：<%= f.city.name %></p>
                    <p>市区町村：<%= f.house_number %></p>
                    <p>路線：<%= f.route.name %></p>
                    <p>駅：<%= f.station.name %></p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left iconContent bg-color-3">
                    <i class="fa fa-money" aria-hidden="true"></i>
                  </div>
                  <div class="media-body iconContent">
                    <h4 class="media-heading color-3">給料</h4>
                    <p>時給：<%= f.payment_hour_low.to_s(:delimited) %>円〜<%= f.payment_hour_high.to_s(:delimited) %>円，日給：<%= f.payment_day %></p>
                  </div>
                </li>
                <li class="media iconContet">
                  <div class="media-left iconContent bg-color-4">
                    <i class="fa fa-female" aria-hidden="true"></i>
                  </div>
                  <div class="media-body iconContent">
                    <h4 class="media-heading color-4">お仕事の種類</h4>
                    <p><%= f.category.name %></p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left iconContent bg-color-5">
                    <i class="fa fa-exclamation" aria-hidden="true"></i>
                  </div>
                  <div class="media-body iconContent">
                    <h4 class="media-heading color-5">特徴</h4>
                    <span class="featurebox bg-color-1"><%= '日払い可' if f.feature.daily %>
                      <font color="#808080"><%= '☓日払い可' unless f.feature.daily %></font></font></span>
                    <span class="featurebox bg-color-2"><%= '給与保証' if f.feature.guarantee %>
                      <font color="#808080"><%= '☓給与保証' unless f.feature.guarantee %></font></font></span>
                    <span class="featurebox bg-color-3"><%= '交通費支給' if f.feature.carfare %>
                      <font color="#808080"><%= '☓交通費支給' unless f.feature.carfare %></font></font></span>
                    <span class="featurebox bg-color-4"><%= '初心者歓迎' if f.feature.beginner %>
                      <font color="#808080"><%= '☓初心者歓迎' unless f.feature.beginner %></font></font></span>
                    <span class="featurebox bg-color-5"><%= '体験入店可' if f.feature.experience %>
                      <font color="#808080"><%= '☓体験入店可' unless f.feature.experience %></font></font></span>
                    <span class="featurebox bg-color-6"><%= '生理休暇' if f.feature.menstruation %>
                      <font color="#808080"><%= '☓生理休暇' unless f.feature.menstruation %></font></font></span>
                    <span class="featurebox bg-color-1"><%= '寮完備' if f.feature.dormitory %>
                      <font color="#808080"><%= '☓寮完備' unless f.feature.dormitory %></font></font></span>
                    <span class="featurebox bg-color-2"><%= '個室待機' if f.feature.room %>
                      <font color="#808080"><%= '☓個室待機' unless f.feature.room %></font></font></span>
                    <span class="featurebox bg-color-3"><%= '託児所' if f.feature.nursery %>
                      <font color="#808080"><%= '☓託児所' unless f.feature.nursery %></font></font></span>
                    <span class="featurebox bg-color-4"><%= '送迎' if f.feature.pickup %>
                      <font color="#808080"><%= '☓送迎' unless f.feature.pickup %></font></font></span>
                    <span class="featurebox bg-color-5"><%= 'アリバイ対策' if f.feature.alibi %>
                      <font color="#808080"><%= '☓アリバイ対策' unless f.feature.alibi %></font></font></span>
                    <span class="featurebox bg-color-6"><%= '在宅勤務可' if f.feature.home %>
                      <font color="#808080"><%= '☓在宅勤務可' unless f.feature.home %></font></font></span>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left iconContent bg-color-6">
                    <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                  </div>
                  <div class="media-body iconContent">
                    <h4 class="media-heading color-6">お祝い金</h4>
                    <p><%= f.congratulation_money.to_s(:delimited) %>円</p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left iconContent bg-color-7">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                  </div>
                  <div class="media-body iconContent">
                    <h4 class="media-heading color-7">その他備考</h4>
                    <p><%= f.note %></p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- BANNER -->
        <section class="bannercontainer bannercontainerV1">
          <div class="fullscreenbanner-container">
            <div class="fullscreenbanner">
              <ul>
                <% if f.image1.url %>
                  <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                    <%= image_tag(f.image1.url, :alt => "slidebg1", :'data-bgfit' => "cover", :'data-bgposition' => "center center", :'data-bgrepeat' => "no-repeat") %>
                    <div class="slider-caption container">
                      <div class="tp-caption rs-caption-1 sft start"
                           data-hoffset="0"
                           data-y="200"
                           data-speed="800"
                           data-start="1000"
                           data-easing="Back.easeInOut"
                           data-endspeed="300">

                      </div>

                      <div class="tp-caption rs-caption-2 sft"
                           data-hoffset="0"
                           data-y="265"
                           data-speed="1000"
                           data-start="1500"
                           data-easing="Power4.easeOut"
                           data-endspeed="300"
                           data-endeasing="Power1.easeIn"
                           data-captionhidden="off">

                      </div>
                    </div>
                  </li>
                <% end %>
                <% if f.image2.url %>
                  <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                    <%= image_tag(f.image2.url, :alt => "slidebg1", :'data-bgfit' => "cover", :'data-bgposition' => "center center", :'data-bgrepeat' => "no-repeat") %>

                    <div class="slider-caption container">
                      <div class="tp-caption rs-caption-1 sft start text-center"
                           data-hoffset="0"
                           data-x="center"
                           data-y="200"
                           data-speed="800"
                           data-start="1000"
                           data-easing="Back.easeInOut"
                           data-endspeed="300">
                      </div>

                      <div class="tp-caption rs-caption-2 sft text-center"
                           data-hoffset="0"
                           data-x="center"
                           data-y="265"
                           data-speed="1000"
                           data-start="1500"
                           data-easing="Power4.easeOut"
                           data-endspeed="300"
                           data-endeasing="Power1.easeIn"
                           data-captionhidden="off">
                      </div>
                    </div>
                  </li>
                <% end %>

                <% if f.image3.url %>
                  <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 3">
                    <%= image_tag(f.image3.url, :alt => "slidebg1", :'data-bgfit' => "cover", :'data-bgposition' => "center center", :'data-bgrepeat' => "no-repeat") %>

                    <div class="slider-caption container">
                      <div class="tp-caption rs-caption-1 sft start text-right"
                           data-hoffset="0"
                           data-y="200"
                           data-x="right"
                           data-speed="800"
                           data-start="1000"
                           data-easing="Back.easeInOut"
                           data-endspeed="300">
                      </div>

                      <div class="tp-caption rs-caption-2 sft text-right"
                           data-hoffset="0"
                           data-y="265"
                           data-x="right"
                           data-speed="1000"
                           data-start="1500"
                           data-easing="Power4.easeOut"
                           data-endspeed="300"
                           data-endeasing="Power1.easeIn"
                           data-captionhidden="off">
                      </div>
                    </div>
                  </li>
                <% end %>

              </ul>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</section>

