<% if @city %>
  <% @title = "#{@city.name}の求人" %>

<% elsif @station %>
  <% @title = "#{@station.name}の求人" %>

<% elsif @category %>
  <% @title = "#{@prefecture.name}の#{@category.name}求人" %>

<% elsif @prefecture %>
  <% @title = "#{@prefecture.name}の求人" %>

<% else %>

  <% @title = '店舗一覧' %>

<% end %>

<%= render 'shared/page_title', f1: @title, f2: "#{@shops_count}件ありました", f3: false %>

<%= render 'girl/shared/breadcrumb' %>
<%= render 'girl/shared/search_form' %>

<div class="table-responsive">
  <%= paginate @shops %>
  <% @shops.each do |n| %>

    <%= render 'shared/shop_card', f: n %>

  <% end %>
  <%= paginate @shops %>
</div>