<% @title = '店舗詳細' %>
<%= render 'shared/page_title', f1: @title, f2: false, f3: false %>

<%= render 'girl/shared/breadcrumb' %>
<%= render 'shared/table_shop_show', f: @shop %>

<div class="btnPart text-center">
  <% if cookies[:favorite] && cookies[:favorite].split(" ").include?(@shop.id.to_s) %>
    <%= link_to '気になる解除', girl_favorite_delete_path(:shop_id => @shop.id), {:class => "btn btn-outline-primary"} %>
  <% else %>
    <%= link_to '気になる追加', girl_favorite_add_path(:shop_id => @shop.id), {:class => "btn btn-outline-primary"} %>
  <% end %>
  <% if @apply_button==true %>
    <%= link_to '応募する', new_girl_shop_apply_path(@shop.id), {:class => "btn btn-outline-primary"} %>
  <% end %>
</div>
