<br>
<%= @shop.shop_name %>採用担当者さま
<br><br>
平素より女子高生バイトドットコムのご利用まことにありがとうございます。<br>
貴店，<%= @shop.shop_name %>へ応募がありました。<br>
可能でありましたら本日中に応募者への連絡を行い，面接日程等の設定をお願い致します。<br>
また，面接後は必ず店舗管理画面より採用の可否の入力を行ってください。<br>
以下，応募者の情報でございます。<br><br>

氏名：<%= @girl.name %><br>
メールアドレス：<%= @girl.email %><br>
ラインID：<%= @girl.line_id %><br><br>

詳細情報につきましては，店舗管理画面へログインしてご確認ください。<br>
店舗管理画面：<a href= <%= "girlsbaito.example.com:4000/shop" %>>
  <%= "girlsbaito.example.com:4000/shop" %>
</a><br>
<br><br>
女子高生バイトドットコム<br>
<a href="http://www.girlsbaito.example.com:4000">http://www.girlsbaito.example.com:4000</a><br>
