<br>
<%= @shop.shop_name %>採用担当者さま
<br><br>
平素より女子バイトのご利用まことにありがとうございます。<br>
貴店，<%= @shop.shop_name %>へ応募がありました。<br>
可能でありましたら本日中に応募者への連絡を行い，面接日程等の設定をお願い致します。<br>
また，面接後は必ず店舗管理画面より採用の可否の入力を行ってください。<br>
以下，応募者の情報でございます。<br><br>

氏名：<%= @girl.name %><br>
連絡希望手段：<%= @shop.applies.find_by(girl_id: @girl.id).method %>
<br>

<% if @shop.applies.find_by(girl_id: @girl.id).method=='メール'||@shop.applies.find_by(girl_id: @girl.id).method=='どれでもいい'  %>
  メールアドレス：<%= @girl.email %>
  <br>
<% end %>
<% if @shop.applies.find_by(girl_id: @girl.id).method=='電話'||@shop.applies.find_by(girl_id: @girl.id).method=='どれでもいい'  %>
  電話番号：<%= @girl.tel %>
  <br>
<% end %>
<% if @shop.applies.find_by(girl_id: @girl.id).method=='LINE'||@shop.applies.find_by(girl_id: @girl.id).method=='どれでもいい'  %>
  ラインID：<%= @girl.line_id %>
  <br><br>
<% end %>

詳細情報につきましては，店舗管理画面へログインしてご確認ください。<br>
店舗管理画面：<a href= <%= "https://girlbaito.com/shop" %>>
  <%= "https://girlbaito.com/shop" %>
</a><br>
<br><br>
女子バイト<br>
<a href="https://girlbaito.com">https://girlbaito.com</a><br>
