<br>
<%= @girl.name %>さま
<br><br>
この度は，<%= @shop.shop_name %> へご応募頂きましてありがとうございます。<br>
後ほど，応募店舗よりご連絡を差し上げますので，しばらくお待ちください。<br>
今回のご応募のお祝い金は<%= @shop.congratulation_money %>円です。<br>
無事採用されましたら，必ずもらえる採用お祝い金の申請を行ってください。<br><br>

お祝い金の申請はこちらから：<a href= <%= "girlsbaito.example.com:4000/####" %>>
  <%= "girlsbaito.example.com:4000/####" %>
</a><br>
<br><br>
女子高生バイトドットコム<br>
<a href="http://www.girlsbaito.example.com:4000">http://www.girlsbaito.example.com:4000</a><br>
