<table class="table col-sm-8">

  <tr>
    <td>所属</td>
    </td>
    <td><%= f.belong %></td>
  </tr>

  <tr>
    <td>名前</td>
    </td>
    <td><%= f.name %>(<%= f.name_kana %>)</td>
  </tr>

  <tr>
    <td>会社名</td>
    </td>
    <td><%= f.company_name %>(<%= f.company_name_kana %>)</td>
  </tr>

  <tr>
    <td>メールアドレス</td>
    </td>
    <td><%= f.mail %></td>
  </tr>

  <tr>
    <td>電話番号</td>
    </td>
    <td><%= f.tel %></td>
  </tr>

  <tr>
    <td>ホームページ</td>
    </td>
    <td><%= f.homepage %></td>
  </tr>

  <tr>
    <td>内容</td>
    </td>
    <td><%= f.content %></td>
  </tr>

  <tr>
    <td>質問日時</td>
    </td>
    <td><%= f.created_at %></td>
  </tr>
</table>