<% @title = 'トップページ' %>

<%= render 'girl/shared/top_bannar' %>

<ul class="breadcrumb">
  <li><%= link_to 'HOME', :new_girl_prefecture %><span class="divider"></span></li>
  <li class="active"><%= @prefecture.name %></li><%= "  (総登録件数#{@shops_count}件)" %>
</ul>

<!-- SEARCH SECTION -->
<section class="mainContent full-width clearfix featureSection">
  <div class="container">

    <div class="sectionTitle text-center">
      <h2>
        <span class="shape shape-left bg-color-4"></span>
        <span>求人を探す</span>
        <span class="shape shape-right bg-color-4"></span>
      </h2>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group text-center">
          <li>
            <%= link_to girl_prefecture_shop_pref_path(@prefecture.id), {:class => "list-group-item custumicon_circle2"} do %>
              <span class="icon2 bg-color-1"><i class="fa fa-list"></i></span><h4>全店舗一覧</h4>
            <% end %>
          </li>
          <li>
            <%= link_to girl_prefecture_cities_path(@prefecture.id), {:class => "list-group-item custumicon_circle2"} do %>
              <span class="icon2 bg-color-2"><i class="fa fa-map"></i></span><h4>エリアから探す</h4>
            <% end %>
          </li>
          <li>
            <%= link_to girl_prefecture_routes_path(@prefecture.id), {:class => "list-group-item custumicon_circle2"} do %>
              <span class="icon2 bg-color-3"><i class="fa fa-train"></i></span><h4>駅から探す</h4>
            <% end %>
          </li>
          <li>
            <%= link_to girl_prefecture_categories_path(@prefecture.id), {:class => "list-group-item custumicon_circle2"} do %>
              <span class="icon2 bg-color-4"><i class="fa fa-female"></i></span><h4>職種から探す</h4>
            <% end %>
          </li>
          <li>
            <%= link_to girl_prefecture_payment_search_path(@prefecture.id), {:class => "list-group-item custumicon_circle2"} do %>
              <span class="icon2 bg-color-5"><i class="fa fa-money"></i></span><h4>給料から探す</h4>
            <% end %>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>

<%= render 'girl/shared/search_form' %>

<% if @new_shops %>

  <%= render 'girl/shared/bar' %>

  <!-- WHITE SECTION -->
  <section class="whiteSection full-width clearfix newsSection" id="latestNews">
    <div class="container">
      <div class="sectionTitle text-center">
        <h2>
          <span class="shape shape-left bg-color-4"></span>
          <span>新着求人</span>
          <span class="shape shape-right bg-color-4"></span>
        </h2>
      </div>
      <div class="row">
        <% @new_shops.each do |f| %>
          <%= render 'girl/shared/shop_card', f: f %>
        <% end %>
      </div>
    </div>
  </section>


<% end %>

<% if @favorite_shops %>

  <%= render 'girl/shared/bar' %>

  <!-- WHITE SECTION -->
  <section class="whiteSection full-width clearfix newsSection" id="latestNews">
    <div class="container">
      <div class="sectionTitle text-center">
        <h2>
          <span class="shape shape-left bg-color-4"></span>
          <span>気になるリスト</span>
          <span class="shape shape-right bg-color-4"></span>
        </h2>
      </div>
      <div class="row">
        <% @favorite_shops.each do |f| %>
          <%= render 'girl/shared/shop_card', f: f %>
        <% end %>
      </div>
    </div>
  </section>

<% end %>

<% if @history_shops %>

  <%= render 'girl/shared/bar' %>

  <!-- WHITE SECTION -->
  <section class="whiteSection full-width clearfix newsSection" id="latestNews">
    <div class="container">
      <div class="sectionTitle text-center">
        <h2>
          <span class="shape shape-left bg-color-4"></span>
          <span>閲覧履歴</span>
          <span class="shape shape-right bg-color-4"></span>
        </h2>
      </div>
      <div class="row">
        <% @history_shops.each do |f| %>
          <%= render 'girl/shared/shop_card', f: f %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>


<section class="whiteSection full-width clearfix">

  <div class="container">
    <div class="list-group text-center">

      <%= link_to girl_questions_path, {:class => "list-group-item custumicon_circle2"} do %>
        <span class="icon2 bg-color-6"><i class="fa fa-question"></i></span><h4>よくある質問</h4>
      <% end %>

      <%= link_to girl_job_category_path, {:class => "list-group-item custumicon_circle2"} do %>
        <span class="icon2 bg-color-6"><i class="fa fa-list"></i></span><h4>お仕事の種類</h4>
      <% end %>

    </div>
  </div>

</section>

<section class="whiteSection full-width clearfix">

  <div class="container">
<table class="table table-bordered">
  <tr>
    <td><h3>お祝い金の申請はこちらから！</h3>

      <div class="list-group text-center">
        <%= link_to :girl_applies, {:class => "list-group-item custumicon_circle2"} do %>
          <span class="icon2 bg-color-6"><i class="fa fa-money"></i></span><h4>お祝い金申請</h4>
        <% end %>

      </div>
    </td>
  </tr>
</table>

  </div>

</section>
