<% @title = 'アカウント情報' %>
<h1><%= @title %></h1>

<div class="list-group">
  <%= link_to '登録情報編集', :edit_girl_account, {:class => "list-group-item col-sm-2"} %>
  <%= link_to 'パスワード変更', :edit_girl_password, {:class => "list-group-item col-sm-2"} %>
  <%= link_to '応募状況確認，お祝い金申請', :girl_applies, {:class => "list-group-item col-sm-2"} %>

</div></br></br>

<div class="table-responsive">
  <%= render 'table_girl_account', f: @girl %>
</div>

紹介用アドレス
http://girlsbaito.example.com:3000/intro?code=<%= @girl.invitation_code %>
<h3>お友達紹介プログラム</h3>
<div class="table-responsive">
  <%= render 'table_girl_invitation', f: @girl %>

</div>
<div class="text-center">
  <% if @girl.invitation_point>=5000 %>
    <%= link_to 'ポイントを換金する', new_girl_account_invitation_path, {:class => "btn btn-primary"} %>
  <% else %>
    <%= link_to '換金できません', girl_root_path, {:class => "btn btn-default", :disabled => "disabled"} %>
    換金には最低5000ポイントが必要です。
  <% end %>
</div>

<h3>ご不明な点は下記のよくある質問集からお問い合わせ下さい。</h3>

<div class="list-group col-sm-8">
  <%= link_to 'よくある質問', girl_questions_path, {:class => "list-group-item col-sm-4"} %>
</div>
