<% @title = 'パスワード再設定' %>

<%= render 'shared/page_title', f1: @title, f2: false, f3: false %>

<div class="container">

  <div class="form-group">
    項目は全て必須入力です。
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "新パスワード", {:class => "control-label"} %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上を設定してください。)</em><br/>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "form-control border-color-1" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "パスワード再入力", {:class => "control-label"}  %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control border-color-2" %>
    </div>

    <div class="actions">
      <%= f.submit "パスワード再設定", :class => "btn btn-outline-primary" %>
    </div>
  <% end %>

  <%= render "girl/shared/links" %>

</div>

