<table class="table col-sm-8">
  <tr>
    <td>現在の採用状態</td>
    <td><%= '未入力' if f.employment==nil %><%= '採用' if f.employment==true %>
      <%= '不採用' if f.employment==false %>
    </td>
  </tr>
  <tr>
    <td>面接日</td>
    <td><%= '未入力' if f.interview==nil %><%= f.interview %></td>
  </tr>
  <tr>
    <td>採用可否入力期日</td>
    <td><%= (f.created_at + 60.days).strftime('%Y年%m月%d日') %></td>
  </tr>

  <tr>
    <td>応募日時</td>
    <td><%= f.created_at.strftime('%Y年%m月%d日') %></td>
  </tr>
  <tr>
    <td>名前</td>
    <td><%= f.girl.name %></td>
  </tr>

    <td>応募時の設定お祝い金</td>
    <td><%= f.congratulation_money.to_s(:delimited) %></td>円
  </tr>

  <tr>
    <td>希望の連絡方法</td>
    <td><%= f.method %></td>
  </tr>

<% if f.method=='メール'||f.method=='どれでもいい'  %>
  <tr>
    <td>メールアドレス</td>
    <td><%= f.email %></td>
  </tr>
    <% end %>
  <% if f.method=='電話'||f.method=='どれでもいい'  %>

  <tr>
    <td>電話番号</td>
    <td><%= f.tel %></td>
  </tr>
  <tr>
  <% end %>

  <% if f.method=='LINE'||f.method=='どれでもいい'  %>

  <tr>
    <td>ラインID</td>
    <td><%= f.line_id %></td>
  </tr>
  <tr>
  <% end %>


</table>

