<% @title = '応募履歴一覧' %>

<%= render 'shared/page_title', f1: @title, f2: false, f3: false %>

<div class="container">

  <div class="table-wrapper">

    <%= paginate @applies %>

    <table class="table table-bordered">
      <tr>
        <th>氏名</th>
        <th>応募店舗名</th>
        <th>応募日時</th>
      </tr>
      <% @applies.each do |m| %>
        <tr>
          <td><%= m.girl.name %></td>
          <td><%= m.shop_show.shop_name %></td>
          <td><%= m.created_at %></td>
          <td>
            <%= link_to '採用お祝い金申請へ', new_girl_apply_congratulation_path(m.id) unless m.congratulation %>
            <% if m.congratulation %>採用お祝い金申請済み
            <% end %>

          </td>
        </tr>
      <% end %>
    </table>

    <%= paginate @applies %>

  </div>
</div>
