<% @title = '応募フォーム' %>

<%= render 'shared/page_title', f1: @title, f2: false, f3: false %>

<div class="container">

  <div class="sectionTitle text-center">
    <h2>
      <span class="shape shape-left bg-color-4"></span>
      <span>採用されたら必ずもらえるお祝い金</span>
      <span class="shape shape-right bg-color-4"></span>
      <span><%= @shop.congratulation_money %>円</span>
    </h2>
  </div>


  <h3>応募店舗</h3>
  <div class="table-responsive">
    <%= render 'apply_table_shop' %>
  </div>

  <h3>応募者</h3>

  <%= form_for @apply, url: :girl_shop_applies do |f| %>

    <div class="form-group">
      項目は全て必須入力です。
    </div>

    <div class="form-group">
      <%= f.label :name, "氏名（フルネーム）", {:class => "control-label"} %>
      <%= f.text_field :name, placeholder: "山田　花子", :class => "form-control border-color-1" %>
    </div>

    <div class="form-group">
      <%= f.label :email, "メールアドレス", {:class => "control-label"} %>
      <%= f.text_field :email, placeholder: "hanako@email.com", :class => "form-control border-color-1" %>
    </div>

    <div class="form-group">
      <%= f.label :tel, "電話番号（ハイフン無し）", {:class => "control-label"} %>
      <%= f.text_field :tel, placeholder: "09012345678", :class => "form-control border-color-1" %>
    </div>

    <div class="form-group">
      <%= f.label :line_id, "ラインID", {:class => "control-label"} %>
      <%= f.text_field :line_id, placeholder: "hanako", :class => "form-control border-color-1" %>
    </div>

    <div class="form-group">
      <%= f.label :method, "希望する連絡手段（選択した情報以外は応募店舗に共有されません", {:class => "control-label"} %>
      <%= f.select :method, ['どれでもいい', 'メール', 'LINE', '電話'] %>
    </div>

    <div class="text-center">
      <%= f.submit '応募する', :class => "btn btn-outline-primary" %>
    </div>

  <% end %>
</div>
