<% @title = '応募フォーム' %> <h1><%= @title %></h1>

<h2>採用されたら必ずもらえるお祝い金　<%= @shop.congratulation_money %>円</h2>
<h3>応募店舗</h3>
<div class="table-responsive">
  <%= render 'apply_table_shop' %>
</div>

<h3>応募者</h3>

<%= form_for @apply, url: :girl_shop_applies do |f| %>

  <div class="form-group">
    項目は全て必須入力です。
  </div>

  <div class="form-group">
    <%= f.label :name, '氏名（フルネーム）', {:class => "col-sm-3 control-label"} %>
    <div class="col-sm-7">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, 'メールアドレス', {:class => "col-sm-3 control-label"} %>
    <div class="col-sm-7">
      <%= f.text_field :email, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :tel, '電話番号', {:class => "col-sm-3 control-label"} %>
    <div class="col-sm-7">
      <%= f.text_field :tel, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :line_id, 'ラインID', {:class => "col-sm-3 control-label"} %>
    <div class="col-sm-7">
      <%= f.text_field :line_id, :class => "form-control" %>
    </div>
  </div>
  
  
  <div class="form-group">
    <div class="col-sm-3 control-label">
      <%= f.label :method, '希望する連絡手段' %>
    </div>
    <div class="col-sm-3">
      <%= f.select :method, ['どれでもいい', 'メール', 'LINE', '電話'] %>
    </div>
    希望した連絡方法以外の情報はお店へは一切渡りません

  </div>


<div class="text-center">
  <%= f.submit '応募する', :class => "btn btn-primary" %>
</div>

<% end %>