<div class="form-group">
  <div class="col-sm-3 control-label">
    <%= f.label :comfirm, 'よくある質問に記載のない質問ですか？' %>
  </div>
  <div class="checkbox-inline">
    <%= f.check_box :comfirm %><label>よくある質問では解決しなかった質問です。</label>
  </div>
</div>

<div class="form-group">
  <%= f.label :belong, "所属", {:class => "control-label"} %>
  <%= f.select :belong, ['個人', '法人'], :class => "form-control border-color-1" %>
</div>

<div class="form-group">
  <%= f.label :name, "名前", {:class => "control-label"} %>
  <%= f.text_field :name, placeholder: "山田　花子", :class => "form-control border-color-2" %>
</div>

<div class="form-group">
  <%= f.label :name_kana, "名前（フリガナ）", {:class => "control-label"} %>
  <%= f.text_field :name_kana, placeholder: "ヤマダ　ハナコ", :class => "form-control border-color-3" %>
</div>

<div class="form-group">
  <%= f.label :company_name, "会社名", {:class => "control-label"} %>
  <%= f.text_field :company_name, placeholder: "山田商事", :class => "form-control border-color-4" %>
</div>

<div class="form-group">
  <%= f.label :company_name_kana, "会社名（カタカナ）", {:class => "control-label"} %>
  <%= f.text_field :company_name_kana, placeholder: "ヤマダショウジ", :class => "form-control border-color-5" %>
</div>

<div class="form-group">
  <%= f.label :mail, "メールアドレス", {:class => "control-label"} %>
  <%= f.text_field :mail, placeholder: "hanako@email.com", :class => "form-control border-color-6" %>
</div>
<div class="form-group">
  <%= f.label :tel, "連絡先電話番号", {:class => "control-label"} %>
  <%= f.text_field :tel, placeholder: "09012345678", :class => "form-control border-color-1" %>
</div>

<div class="form-group">
  <%= f.label :homepage, "ホームページ", {:class => "control-label"} %>
  <%= f.text_field :homepage, placeholder: "hanako.com", :class => "form-control border-color-2" %>
</div>

<div class="form-group">
  <%= f.label :content, "お問い合わせ内容", {:class => "control-label"} %>
  <%= f.text_area :content, placeholder: "お問い合わせ内容をご記載ください。", :class => "form-control border-color-3" %>
</div>



<div class="form-group">
  <div class="control-label">
    <%= f.label :policy, '個人情報保護に関する事項に同意します' %>
  </div>
  <div class="checkbox-inline">
    <%= f.check_box :policy %><label>同意する</label>
  </div>
</div>
