<% @title = 'お問い合わせフォーム' %>
<%= render 'shared/page_title', f1: @title, f2: false, f3: false %>

<%= render 'shared/errors', f: @contact %>

<div class="container">
  <div class="form-horizontal col-sm-12" role="form">

    <%= form_for @contact, url: :girl_contact do |f| %>

      <%= render 'form_contact', f: f %>

      <div class="form-group">

        <%= f.submit '送信する', data: {confirm: 'この内容で送信します。よろしいですか？'}, :class => "btn btn-outline-primary" %>
        <%= link_to 'キャンセル', :girl_questions %>
      </div>
    <% end %>
  </div>
</div>


