<% @title = 'お問い合わせフォーム' %> <h1><%= @title %></h1>


<%= render 'shared/errors', f: @contact %>

<div class="form-horizontal col-sm-12" role="form">
  <%= form_for @contact, url: :girl_contact do |f| %>

    <div class="form-group">
      項目は全て必須入力です。
    </div>

    <%= render 'form_contact', f: f %>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <%= f.submit '送信する', data: {confirm: 'この内容で送信します。よろしいですか？'}, :class => "btn btn-default" %>
        <%= link_to 'キャンセル', :girl_questions %>
      </div>
    </div>
  <% end %>
</div>


