<!DOCTYPE html>
<html>
<% @site_name = '女子ジョブ' %>
<% @email_admin = 'girls-job@email.com' %>
<% @email_girl = 'girls-job_girl@email.com' %>
<% @email_shop = 'girls-job_shop@email.com' %>

<head>
  <title><%= document_title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <% #スマホ表示用に必要か %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body class="body-wrapper">
<div class="main-wrapper">

  <%= render 'girl/shared/header' %>
  <%= yield %>
  <%= render 'girl/shared/footer' %>

</div>
</body>
</html>
