<!DOCTYPE html>
<html>
<% @site_name = '女子ジョブ' %>
<% @email_admin = 'girls-job@email.com' %>
<% @email_girl = 'girls-job_girl@email.com' %>
<% @email_shop = 'girls-job_shop@email.com' %>

<head>
  <title><%= document_title %></title>
  <%= stylesheet_link_tag 'girl', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'girl', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% #とりあえず本番環境用にブートストラップ読み込み。本番ではダウンロードして使用すること %>
   
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <% #スマホ表示用に必要か %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<div class="container">
  <%= render 'girl/shared/header' %>
  <%= yield %>
  <%= render 'girl/shared/footer' %>
</div>
<% #とりあえず本番環境用にブートストラップ読み込み。本番ではダウンロードして使用すること %>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
