<!DOCTYPE html>
<html>
<% @site_name = '女子ジョブ' %>
<% @email = 'girls-job.jp@email.com' %>
<% @email_girl = 'girls-job_girl@email.com' %>
<% @email_shop = 'girls-job_shop@email.com' %>
<head>
  <title><%= document_title %></title>
  <%= stylesheet_link_tag 'shop', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'shop', 'data-turbolinks-track' => true %>
  <% #とりあえず本番環境用にブートストラップ読み込み。本番ではダウンロードして使用すること %>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render 'shop/shared/header' %>
  <%= yield %>
  <%= render 'shop/shared/footer' %>
</div>
<% #とりあえず本番環境用にブートストラップ読み込み。本番ではダウンロードして使用すること %>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
