<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <!-- スマートフォンサイズで表示されるメニューボタンとテキスト -->
      <div class="navbar-header">

        <!--

          メニューボタン

          data-toggle : ボタンを押したときにNavbarを開かせるために必要
          data-target : 複数navbarを作成する場合、ボタンとナビを紐づけるために必要

        -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- タイトルなどのテキスト -->
        <%= link_to @site_name, shop_root_path, :class => "navbar-brand" %>

      </div>

      <!-- グローバルナビの中身 -->
      <div class="collapse navbar-collapse" id="nav-menu-1">

        <!-- 各ナビゲーションメニュー -->
        <ul class="nav navbar-nav">

          <li class="navbar-right">
            <%= if current_shop
                  link_to 'ログアウト', :shop_session, method: :delete
                else
                  link_to 'ログイン', :new_shop_session
                end
            %>
          </li>
          <li class="navbar-right">
            <%= link_to 'アカウント', :shop_account if current_shop %>
          </li>
        </ul>

      </div>
      <%= content_tag(:div, flash.notice, class: 'alert alert-success') if flash.notice %>
      <%= content_tag(:div, flash.alert, class: 'alert alert-danger') if flash.alert %>
    </div>
  </nav>
</header>
