<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <!-- スマートフォンサイズで表示されるメニューボタンとテキスト -->
      <div class="navbar-header">

        <!--

        メニューボタン

        data-toggle : ボタンを押したときにNavbarを開かせるために必要
        data-target : 複数navbarを作成する場合、ボタンとナビを紐づけるために必要

        -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- タイトルなどのテキスト -->
        <%= link_to @site_name, girl_root_path, :class => "navbar-brand" %>

      </div>

      <!-- グローバルナビの中身 -->
      <div class="collapse navbar-collapse" id="nav-menu-1">

        <!-- 各ナビゲーションメニュー -->
        <ul class="nav navbar-nav">


          <li class="navbar-right">
            <%= if current_girl
                  link_to 'ログアウト', :girl_session, method: :delete
                else
                  link_to 'ログイン', :new_girl_session
                end %>

          </li>
          <li class="navbar-right">
            <%= unless current_girl
                  link_to '新規アカウント登録', :new_girl_account
                end %>
          </li>
          <li class="navbar-right">
            <%= link_to '都道府県変更', :new_girl_prefecture %>
          </li>
          <li class="navbar-right">
            <%= if current_girl
                  link_to 'マイメニュー', :girl_account
                end %>
          </li>

          <li class="navbar-right">
            <%= link_to '気になるリスト', :girl_favorite %>
          </li>

          <li class="navbar-right">
            <%= link_to '最近見た履歴', :girl_history %>
          </li>

        </ul>

      </div>
    </div>
  </nav>
</header>
<%= content_tag(:div, flash.notice, class: 'alert alert-success') if flash.notice %>
<%= content_tag(:div, flash.alert, class: 'alert alert-danger') if flash.alert %>