<!-- SEARCH SECTION -->
<section class="mainContent full-width clearfix featureSection">
  <div class="container">

    <div class="sectionTitle text-center">
      <h2>
        <span class="shape shape-left bg-color-4"></span>
        <span>求人を探す</span>
        <span class="shape shape-right bg-color-4"></span>
      </h2>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group text-center">
          <li>
            <%= link_to girl_prefecture_shop_pref_path(@prefecture.id), {:class => "list-group-item custumicon_circle2"} do %>
              <span class="icon2 bg-color-1"><i class="fa fa-list"></i></span><h4>全店舗一覧</h4>
            <% end %>
          </li>
          <li>
            <%= link_to girl_prefecture_cities_path(@prefecture.id), {:class => "list-group-item custumicon_circle2"} do %>
              <span class="icon2 bg-color-2"><i class="fa fa-map"></i></span><h4>エリアから探す</h4>
            <% end %>
          </li>
          <li>
            <%= link_to girl_prefecture_routes_path(@prefecture.id), {:class => "list-group-item custumicon_circle2"} do %>
              <span class="icon2 bg-color-3"><i class="fa fa-train"></i></span><h4>駅から探す</h4>
            <% end %>
          </li>
          <li>
            <%= link_to girl_prefecture_categories_path(@prefecture.id), {:class => "list-group-item custumicon_circle2"} do %>
              <span class="icon2 bg-color-4"><i class="fa fa-female"></i></span><h4>職種から探す</h4>
            <% end %>
          </li>
          <li>
            <%= link_to girl_prefecture_payment_search_path(@prefecture.id), {:class => "list-group-item custumicon_circle2"} do %>
              <span class="icon2 bg-color-5"><i class="fa fa-money"></i></span><h4>給料から探す</h4>
            <% end %>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>